/* https://hishammerdan.github.io/tinStud1/ */
body {
    font-family: montserrat;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: montserrat-bold;
}


.p-color {
    color: #8f8f8f;
}

/*heading */

.big-heading {
    font-family: Montserrat-black;
    font-size: 3.5rem;
    height: 1.5;
}

/* section-heading */
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* containers */
.container-fluid {
    padding: 7% 15%;
}

/* Navigation-Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.navbar-brand {
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.2rem;
    font-family: montserrat-light
}

/* title-section */
#title {
    background: rgb(239, 163, 63);
    background: linear-gradient(-25deg, rgba(239, 163, 63, 1) 0%, rgba(242, 145, 0, 1) 100%);
    background-size: 100%;
    color: #fff;
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7%;
}

/* tittel-img */

.tittel-img {
    transform: rotate(25deg);
    width: 18rem;
    position: absolute;
    right: 30%;
}

/* download-butten */
.download-butten {
    margin: 5% 3% 5% 0;
}

/* features */
#features {
    position: relative;
    background-color: #fff;
}

.features-box {
    padding: 5%;
}

.features-title {
    font-size: 1.5rem;

}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* testimonials */

#testimonials {
    background-color: #ef8172;
    color: #ffff;
    background-image: url("../images/IMG_4880.jpg");
    background-size: 100%;
}

.testimonial-image {
    width: 20%;
    border-radius: 100%;
    margin: 10%;
}

.tesrimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* press */

#press {
    background-color: white;
    padding-bottom: 2%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */
#pricing {
    padding: 100px;
}

.pricing-colum {
    padding: 3% 2%;

}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* call-to-action */


#cta {
    padding-top: 40px;
    color: white;
    background: rgb(239, 163, 63);
    background: linear-gradient(-25deg, rgba(239, 163, 63, 1) 0%, rgba(242, 145, 0, 1) 100%);

}

/* footer */
#footer {
    text-align: center;
    padding: 2%;
    background-color: white;
}

.footer-logo {
    margin: 1.5%;

}

.footer-contact {
    color: black;
}

.logo {
    width: 30%;
}

@media(max-width: 1100px) {
    #title {
        text-align: center;
    }

    .tittel-img {
        position: static;
        transform: rotate(0);
    }

    .cta-heading {
        font-size: 1.5rem;
        line-height: 1rem;
    }
}